{% extends "header.html" %}

{% block content %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Todos Alunos</h4>

                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>Alunos</th>
                                        {% if user.is_staff %}
                                        <th>Tornar Professor</th>
                                        {% endif %}

                                    </tr>
                                    {% for x in alunos %}
                                    <tr>
                                        <td>{{x.first_name }} {{x.last_name}}</td>
                                        {% if user.is_staff %}
                                        <td>
                                            <a href="{% url 'add-professores' pk=x.pk%}" type="button" class="btn btn-primary"><i class="fa fa-user edu-avatar" aria-hidden="true"></i></a>
                                        </td>
                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}