{% extends "header.html" %}

{% block content %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Todas Disciplinas</h4>
                            {% if perms.add_disciplinas %}
                            <div class="add-product">
                                <a href="add-disciplinas">Adicionar Disciplina</a>
                            </div>
                            {% endif %}
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>ID</th>
                                        <th>DISCIPLINA</th>
                                        <th>STATUS</th>
                                        <th>PROFESSOR</th>
                                        <th>REQUISITOS</th>
                                        <th>Setting</th>
                                    </tr>
                                    {% for x in disciplinas %}
                                    <tr>
                                        <td>{{x.id}}</td>
                                        <td>{{x.disciplina}}</td>
                                        <td>{{x.get_status_display}}</td>
                                        <td>{{x.prof.first_name}}</td>

                                        <td>{% for z in x.disciplina.requisitos.all %} {{z.nome}}{%endfor%}</td>


                                        <td>
                                            {% if perms.app.change_disciplinas and x.prof == user %}
                                            <a href="{% url 'edit-disciplina' pk=x.pk %}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            {% else %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
