{% extends "header.html" %}

{% block content %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Todos Cursos</h4>
                            {% if perms.add_curso %}
                            <div class="add-product">
                                <a href="{% url 'add-courses' %}">Adicionar Curso</a>
                            </div>
                            {% else %}
                            {% endif %}
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>CURSO</th>
                                        <th>DISCIPLINAS</th>

                                    </tr>
                                    {% for x in cursos %}
                                    <tr>
                                        <td>{{x.nome}}</td>
                                        <td>{% for z in x.disciplinas.all %} <li>{{z.nome}}</li>{%endfor%}</td>


                                        <td>
                                            {% if perms.change_curso %}
                                            <a href="{% url 'edit-course' pk=x.pk %}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            {% else %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}