{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

        <title>Portal Educ</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    </head>
    <body>
        <div class="container">

            <header>
                <h1>Portal Educ</h1>

            </header>
            <section>
                <div id="container_demo" >

                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                           <form method="POST" action="submit">
                               {% csrf_token %}
                                <h1>ENTRAR</h1>

                                <p>
                                    <label for="username" class="uname" > Usuario </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="usuario"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd"> Senha </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="senha" />
                                </p>
                                <p class="keeplogin">
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
									<label for="loginkeeping">Manter logado</label>
								</p>
                                 <p class="signin button">
									<input type="submit" value="Entrar"/>
								</p>
                               <div>
                                    {% for message in messages %}
                                    <div>
                                        <strong>Error! {{message}}</strong>
                                    </div>
                                    {% endfor %}
                                </div>
                                <p class="change_link">
									Não é membro ?
									<a href="#toregister" class="to_register">Registre</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form method="POST" action="register">
                               {% csrf_token %}
                                <h1> REGISTRAR </h1>
                                <p>
                                    <label for="name" class="uname" > Nome </label>
                                    <input id="name" name="name" required="required" type="text" placeholder="Nome"/>
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" >Usuario</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="usuario" />
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail"  > Email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="email@mail.com"/>
                                </p>
                                <p>
                                    <label for="passwordsignup" class="youpasswd" >Senha </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="senha"/>
                                </p>
                                <p>
                                    <label for="passwordsignup_confirm" class="youpasswd" >Confirmar senha </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="senha"/>
                                </p>
                                <p class="signin button">
									<input type="submit" value="Registrar"/>
								</p>
                                <div>
                                    {% for message2 in messages %}
                                    <div>
                                        <strong>Error! {{message2}}</strong>
                                    </div>
                                    {% endfor %}
                                </div>

                                <p class="change_link">
									Já é membro?
									<a href="#tologin" class="to_register"> Entrar </a>
								</p>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </body>
</html>